URL: https://www.ajman.ac.ae/en/admissions/graduate/admissions-requirements
CONTENT:
Admissions Requirements | Graduate | Admissions
Menu
Undergraduate
Undergraduate Admission Process
Undergraduate Student Catalog
Tuition Fees
Student Handbook
Undergraduate Admission Policy
Undergraduate Transfers
Non-Degree
Graduate
Admissions Requirements
Tuition Fees
Graduate Student Catalog
Student Handbook
Graduate Admission Policy
Graduate Transfers
Why AU
Office of Scholarship & Financial Aid
Office of Student Recruitment
Inquiry
Admissions Requirements
To be eligible for admission into a graduate program, applicants must hold a Bachelor's or Master's degree issued in the UAE, or an equivalent degree approved by the Ministry of Higher Education and Scientific Research in the UAE.
Full Admission
For full admission to Professional Postgraduate Diploma in Teaching program, Master's degree programs, and Doctoral degree programs, applicants are required to upload clear scans of the following documents:
Academic Documents:
Official Bachelor's / Master's university transcripts and graduation certificates certified by the appropriate authorities, with a minimum CGPA of 3.0 on a scale of 4.0, or its equivalent.
An Equivalency Certificate obtained from the Ministry of Higher Education and Scientific Research in the UAE for Bachelor’s/Master's degrees from universities outside the UAE.
A valid certificate of proficiency in English:
For all Master’s /Doctoral programs taught in English: 6.0 IELTS Academic or TOEFL (ITP) score of 550, or its equivalent.
For Doctor of Philosophy in Law: 5.0 IELTS Academic or TOEFL (ITP) score of 500, or its equivalent.
For the Professional Postgraduate Diploma in Teaching program and all Master’s programs taught in Arabic: 4.5 IELTS Academic or TOEFL (ITP) score of 450, or its equivalent.
General Documents:
A valid colored passport copy with a valid residence visa.
A valid colored UAE national ID copy.
A valid certificate of good conduct issued by the official authorities.
A recent colored photograph (size 3×4).
Status of UAE National Service or exemption of the Military National Service (for UAE male applicants).
CV and experience certificate (if available).
Two recommendation letters.
Medical report (
Click here to get the
form
. Medical reports made outside the UAE are not accepted).
Then:
Pay the non-refundable application fee (
Click here
for more information).
Pay a non-refundable fee deposit of 21,000 AED online to reserve your seat in the Master's programs offered by the College of Dentistry within the date specified in the acceptance letter. (
Click here for more information
).
Pay a deposit of 15,000 AED online to reserve your seat for the Doctor of Business Administration (DBA) program. (
Click here
for more information).
Pass the interview for the Master's programs offered by the College of Dentistry, the Master of Science in Clinical Pharmacy program, and the
Doctor of Business Administration
(DBA) program.
Kuwaiti national applicants must attach a copy of the Kuwaiti Embassy Approval
Conditional Admission
All documents listed above must be submitted, and conditional admission to the Professional Postgraduate Diploma in Teaching and Master's programs may be granted in the following cases:
Conditional admission Based on CGPA
If the Bachelor's CGPA is between 2.5 and 2.99, students may be admitted conditionally. Students in this category must achieve a minimum CGPA of 3.0 by the end of the conditional admission period, based on 6 credit hours of study.
If the Bachelor's CGPA is between 2.0 and 2.49, students may be admitted conditionally. students in this category must achieve a CGPA of 3.0 by the end of the conditional period, based on a maximum of 9 graduate-level credit hours as remedial preparation for the graduate program. (These remedial courses are not for credit within the degree program).
Conditional Admission Based on the English Language Proficiency Score
Applicants with a minimum score of 5.5 IELTS Academic or a TOEFL (ITP) score of 530, or an equivalent score (if the desired program is taught in English), or applicants for programs taught in Arabic who do not have the required score in the English language proficiency test.
Students admitted conditionally under this category are required to:
Take a maximum of six credit hours in the first semester of study, not including intensive English courses
Achieve a minimum CGPA of 3.0 on a 4.0 scale, or its established equivalent, in the first six credit hours of credit-bearing courses studied for the graduate program
Achieve a minimum score of 6.0 IELTS Academic, or its equivalent (if the desired program is taught in English) by the end of the conditional admission period. For programs taught in Arabic, they must achieve a minimum score of 4.5 in IELTS Academic, or its equivalent by the end of the conditional admission period.
NOTES:
Applicants for the master’s programs taught in English may be exempted from the requirement to submit a certificate of English proficiency only if they have completed all their schooling (K-12) and a Bachelor's degree in English in a recognized English-speaking country (e.g., UK, USA, Australia, New Zealand).
Applicants for the Doctor of Business Administration (DBA) program may be exempted from the requirement to submit a certificate of English proficiency only if they have completed a Master's degree programs taught in English, which required a score of 6.0 IELTS Academic, or its equivalent for admission.
An institutional TOEFL score is considered valid only if the test is taken at an AMIDEAST UAE center.
Applicants who have applied for the equivalency certificate from the Ministry of Higher Education and Scientific Research in the UAE but have not complete the equivalency process by the time of registration will be allowed to register, provided they sign a conditional admission contract and submit a copy of the Ministry’s application receipt.
Unattested scans will be accepted to initiate the application process. However, applicants will be required to present attested original documents in person before enrolling at AU.
Other requirements may apply. The Unit of Admissions and Student Recruitment reserve the right to request any supporting documents.
The decision to admit an applicant is made on a competitive basis, considering the number of available seats determined by the respective college and the applicant's final CGPA.
To inquire about how to apply for the IELTS, TOEFL exams
click here
or call +971-6-705-5226
For visa, please contact the Office of Public Relations,
click here
or +971-6-705-6868.
For housing, please contact the Office of Student Housing,
click here
or +971-6-705-6877
Make plans to attend the orientation and convocation ceremony, both held on campus one week before the start of classes.
We look forward to seeing you at the Convocation Ceremony.
Cookie Warning
This website uses cookies to enhance the user's experience. By using this website, you indicate consent to our
privacy policy
.
Deny
Accept